<template>
  <div class="w3-container">
    <h4>Question nr: {{ currentQuestValue }} of  {{ numberOfQuestions }} </h4>
    <h4 v-html="questionText"></h4>
    <div class="container-buttons">
      <div class="multiple-choice">
        <button
          v-for="(answer, index) in answers"
          :key="index"
          class="btn btn-primary"
          @click="answerClicked(answer)"
          v-html="answer"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "QuizPage",
  data() {
    return {
      questionText: "",
      currentQuest: 0,
      question: null,
      answers: [],
      numberOfQuestions: 0
    };
  },
  computed: {
    ...mapGetters(["getQuestions"]),
    currentQuestValue() {
      return this.currentQuest + 1;
    }
  },
  mounted() {
    this.setQnAs();
    this.numberOfQuestions = this.$store.state.number_of_questions
  },
  methods: {
    ...mapMutations(["setUserAnswers", "setUserPoints"]),
    setQnAs() {
      this.question = this.getQuestions(this.currentQuest);
      this.questionText = this.question.question;

      this.answers = [
        ...this.question.incorrect_answers,
        this.question.correct_answer,
      ].sort((a, b) => a.localeCompare(b));
    },

    answerClicked(answer) {
    //Checking if answer is correct
        if (answer === this.question.correct_answer) {
            this.setUserPoints(10);
            this.answers.push(answer)
        } else {
            this.answers.push(answer)
        }
        this.currentQuest++;

    //Checking if that was the last question
        if (this.currentQuest === this.numberOfQuestions) {
            this.setUserAnswers(this.answers)
            this.$router.push("/result");
        }
    // if not, set new question
        this.setQnAs();     
    },
  },
};
</script>


<style scoped>
</style>