<template>
  <div>
    <div class="w3-container">
      <div class="col">
          <h4>Select category</h4>
        <select id="select-category" v-model="setup.categories">
          <option value="0">Any</option>
          <option value="9">General Knowledge</option>
          <option value="10">Books</option>
          <option value="11">Films</option>
          <option value="12">Music</option>
          <option value="13">Musicals & theaters</option>
          <option value="14">Television</option>
          <option value="15">Video Games</option>
          <option value="16">Board Games</option>
          <option value="17">Science & Nature</option>
          <option value="18">Science: Computers</option>
          <option value="19">Science: Mathematics</option>
          <option value="20">Mythology</option>
          <option value="21">Sports</option>
          <option value="22">Geography</option>
          <option value="23">History</option>
          <option value="24">Politics</option>
          <option value="25">Art</option>
          <option value="26">Celebrities</option>
          <option value="27">Animals</option>
        </select>
        <h4>Select difficulty</h4>
            <button class="btn btn-success" for="easy">Easy</button>
            <input type="radio" class="btn-check" name="difficulty" id="easy" autocomplete="off" checked value="easy"
                v-model="setup.difficulty"/>
            <button class="btn btn-warning" for="easy">Medium</button>
            <input type="radio" class="btn-check" name="difficulty" id="medium" autocomplete="off" checked value="medium"
                v-model="setup.difficulty"/>
            <button class="btn btn-danger" for="medium">Hard</button>
            <input type="radio" class="btn-check" name="difficulty" id="hard" autocomplete="off" checked value="hard"
                v-model="setup.difficulty"/>
         
        <div class="single_row">
          <div class="half_column">
            <h4>Question Type</h4>
            <div class="label_radio_pair">
              <input type="radio" id="type_truefalse" name="type" value="boolean" v-model="setup.questionType">
              <label for="type_truefalse">True/False</label>
            </div>
            <div class="label_radio_pair">
              <input type="radio" id="type_multipleChoice" name="type" value="multiple" v-model="setup.questionType">
              <label for="type_multipleChoice">Multiple choice</label>
            </div>
          </div>
        </div>

        <div class="single_row">
          <div class="half_column">
            <label class="left_label" for="question_id">Number of questions</label>
          </div>
          <div class="half_column">
            <input id="question_id" type="range" min="1" max="50" step="1" value="10"
                   oninput="this.nextElementSibling.value = this.value" v-model="setup.numberOfQuest">
            <output id="questions_id">10</output>
          </div>
        </div>
        <input value="START" @click="sendSetup" class="submit_button" type="submit">
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
//import { questionAPI } from "@/components/questions/questionAPI"
export default {
  name: "StartPage",
  data() {
      return {
          setup: {
              categories: '0',
              difficulty: 'medium',
              numberOfQuest: '10',
              questionType: 'multiple',
          },
          buttonDisabled: false,
      }
  },
  methods: {
    ...mapActions(["fetchQuestions"]),
    async sendSetup(){
      await this.fetchQuestions(this.setup)
      this.$router.push('/quiz')
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
