<template>
    <div>
    <h4>Results:</h4>
    <h4>Your score: {{ getTotalpoints }}</h4>
    <br>
    <h4 
        v-for="(answer, index) in getNumberOfQuestions"
            :key="index"
            v-html="'On the question: your answer was: '">
            ></h4>
    <br>
      <div class="container-buttons">
        <button class="blue-button-long"  @click="replayClick">replay</button>
        <button class="green-button-long" @click="menuClick">menu</button>
      </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
//import QuizPage from "@/components/quizpage/QuizPage"
export default {
    name: 'ResultPage',
    data () {
        return {
            setup: {
                totalPoints: 0,
                questionList: [],
                answerList: [],
            }
        }
    },
    mounted() {
        this.questionList = this.getAllquestions
        this.answerList = this.getAllAnswers
    },
    computed: {
        getTotalpoints() {
            return this.$store.state.points
        },
        getAllquestions() {
            return this.$store.state.questions
        },
        getAllAnswers() {
            return this.$store.state.userAnswer
        },
        getNumberOfQuestions() { return this.$store.state.number_of_questions},
    },
    methods: {
        ...mapGetters(['getQuestions', 'getUserAnswers', 'getPoints']),
        ...mapMutations(['setUserPoints']),
        setupResultPage() {
            this.totalPoints = this.getPoints()
            this.questionList = this.getQuestions(0)
            this.answerList = this.getUserAnswers(0)
        },
        menuClick(){
            this.setUserPoints(0)
            this.$router.push('/')
        },
        replayClick(){
            this.setUserPoints(0)
            this.$router.push('/quiz')
        }
    }
}
</script>

<style scoped>

</style>